<div class="bg-white py-16">
  <div class="container m-auto space-y-8 px-6 text-gray-500 md:px-12 lg:px-20">
    <div class="flex items-center justify-center -space-x-2">
      <img
        loading="lazy"
        width="220"
        height="220"
        src="images/avatars/second_user.webp"
        alt="member photo"
        class="h-8 w-8 rounded-full object-cover"
      />
      <img
        loading="lazy"
        width="220"
        height="220"
        src="images/avatars/first_user.webp"
        alt="member photo"
        class="h-12 w-12 rounded-full object-cover"
      />
      <img
        loading="lazy"
        width="220"
        height="220"
        src="images/avatars/third_user.webp"
        alt="member photo"
        class="z-10 h-16 w-16 rounded-full object-cover"
      />
      <img
        loading="lazy"
        width="220"
        height="220"
        src="images/avatars/first_user.webp"
        alt="member photo"
        class="relative h-12 w-12 rounded-full object-cover"
      />
      <img
        loading="lazy"
        width="220"
        height="220"
        src="images/avatars/second_user.webp"
        alt="member photo"
        class="h-8 w-8 rounded-full object-cover"
      />
    </div>
    <div class="m-auto space-y-6 md:w-8/12 lg:w-7/12">
      <h1 class="text-center text-4xl font-bold text-gray-700 md:text-5xl">Get Started now</h1>
      <p class="text-center text-xl">
        Be part of millions people around the world using tailus in modern User Interfaces.
      </p>
      <div class="flex flex-wrap justify-center gap-6">
        <a
          href="#"
          title="More"
          class="block w-full rounded-xl bg-cyan-100 py-3 px-6 text-center transition hover:bg-cyan-200 focus:bg-cyan-200 active:bg-cyan-300 sm:w-max"
        >
          <span class="font-semibold text-cyan-700"> More about </span>
        </a>
        <a
          href="#"
          title="Get started"
          class="block w-full rounded-xl bg-cyan-600 py-3 px-6 text-center transition hover:bg-cyan-700 focus:bg-sky-600 active:bg-cyan-800 sm:w-max"
        >
          <span class="font-semibold text-white"> Get started </span>
        </a>
      </div>
    </div>
  </div>
</div>
