<div class="py-16">
  <div class="xl:container m-auto space-y-12 px-6 md:px-12 lg:px-20">
    <div>
      <h2 class="mt-4 text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        A technology-first approach to payments <br class="sm:block" hidden />
        and finance
      </h2>
    </div>
    <div class="mt-16 grid gap-8 sm:w-2/3 sm:mx-auto md:w-full md:grid-cols-2 md:-mx-8 lg:grid-cols-3">
      <div class="p-8 py-12 sm:p-12 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
        <div class="space-y-12 text-center">
          <img
            src="https://cdn-icons-png.flaticon.com/512/4341/4341069.png"
            class="w-16 mx-auto"
            width="512"
            height="512"
            alt="burger illustration"
          />
          <div class="space-y-6">
            <h3 class="text-2xl font-semibold text-gray-800 transition dark:text-white">
              First feature
            </h3>
            <p class="text-gray-600 dark:text-gray-300">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe nesciunt neque culpa hic illum ab qui error repellendus asperiores unde ut ipsam perferendis nemo fuga cum, eum consectetur, magnam doloremque!
            </p>
            <a
              href="#"
              class="group relative flex mx-auto h-12 w-12 items-center justify-center before:absolute before:inset-0 before:rounded-full before:border before:border-gray-200 before:bg-gray-50 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800"
            >
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="relative w-5 h-5 text-gray-600 dark:text-white transition duration-300 group-hover:translate-x-1">
                <path fill-rule="evenodd" d="M16.28 11.47a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 011.06-1.06l7.5 7.5z" clip-rule="evenodd" />
              </svg>                
            </a>
          </div>
        </div>
      </div>
      <div class="p-8 py-12 sm:p-12 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
        <div class="space-y-12 text-center">
          <img
            src="https://cdn-icons-png.flaticon.com/512/4341/4341152.png"
            class="w-16 mx-auto"
            width="512"
            height="512"
            alt="burger illustration"
          />
          <div class="space-y-6">
            <h3 class="text-2xl font-semibold text-gray-800 transition dark:text-white">
              Second feature
            </h3>
            <p class="text-gray-600 dark:text-gray-300">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe nesciunt neque culpa hic illum ab qui error repellendus asperiores unde ut ipsam perferendis nemo fuga cum, eum consectetur, magnam doloremque!
            </p>
            <a
              href="#"
              class="group relative flex mx-auto h-12 w-12 items-center justify-center before:absolute before:inset-0 before:rounded-full before:border before:border-gray-200 before:bg-gray-50 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800"
            >
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="relative w-5 h-5 text-gray-600 dark:text-white transition duration-300 group-hover:translate-x-1">
                <path fill-rule="evenodd" d="M16.28 11.47a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 011.06-1.06l7.5 7.5z" clip-rule="evenodd" />
              </svg>                
            </a>
          </div>
        </div>
      </div>
      <div class="p-8 py-12 sm:p-12 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
        <div class="space-y-12 text-center">
          <img
            src="https://cdn-icons-png.flaticon.com/512/4341/4341146.png"
            class="w-16 mx-auto"
            width="512"
            height="512"
            alt="burger illustration"
          />
          <div class="space-y-6">
            <h3 class="text-2xl font-semibold text-gray-800 transition dark:text-white">
              Third feature
            </h3>
            <p class="text-gray-600 dark:text-gray-300">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe nesciunt neque culpa hic illum ab qui error repellendus asperiores unde ut ipsam perferendis nemo fuga cum, eum consectetur, magnam doloremque!
            </p>
            <a
              href="#"
              class="group relative flex mx-auto h-12 w-12 items-center justify-center before:absolute before:inset-0 before:rounded-full before:border before:border-gray-200 before:bg-gray-50 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800"
            >
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="relative w-5 h-5 text-gray-600 dark:text-white transition duration-300 group-hover:translate-x-1">
                <path fill-rule="evenodd" d="M16.28 11.47a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 011.06-1.06l7.5 7.5z" clip-rule="evenodd" />
              </svg>                
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>