<div class="py-16 bg-white">
    <div class="container m-auto px-6 space-y-8 text-gray-500 md:px-12 lg:px-20">
        <div class="flex items-center justify-center -space-x-2">
            <img loading="lazy" width="220" height="220" src="images/avatars/second_user.webp" alt="member photo" class="w-8 h-8 object-cover rounded-full">
            <img loading="lazy" width="220" height="220" src="images/avatars/first_user.webp" alt="member photo" class="w-12 h-12 object-cover rounded-full">
            <img loading="lazy" width="220" height="220" src="images/avatars/third_user.webp" alt="member photo" class="z-10 w-16 h-16 object-cover rounded-full">
            <img loading="lazy" width="220" height="220" src="images/avatars/first_user.webp" alt="member photo" class="relative w-12 h-12 object-cover rounded-full">
            <img loading="lazy" width="220" height="220" src="images/avatars/second_user.webp" alt="member photo" class="w-8 h-8 object-cover rounded-full">
        </div>
        <div class="m-auto space-y-6 md:w-8/12 lg:w-7/12">
            <h1 class="text-4xl text-gray-700 font-bold text-center md:text-5xl">Get Started now</h1>
            <p class="text-xl text-center">Be part of millions people around the world using tailus in modern User Interfaces.</p>
            <div class="flex flex-wrap justify-center gap-6">
                <a href="#" title="More" class="block w-full py-3 px-6 text-center rounded-xl bg-cyan-100 transition hover:bg-cyan-200 active:bg-cyan-300 focus:bg-cyan-200 sm:w-max">
                    <span class="text-cyan-700 font-semibold">
                        More about
                    </span>
                </a>
                <a href="#" title="Get started" class="block w-full py-3 px-6 text-center rounded-xl bg-cyan-600 transition hover:bg-cyan-700 active:bg-cyan-800 focus:bg-sky-600 sm:w-max">
                    <span class="text-white font-semibold">
                        Get started
                    </span>
                </a>
            </div>
        </div>
    </div>
</div> 