<header>
  <nav class="fixed z-20 w-full">
    <div class="container m-auto px-6 md:px-12 lg:px-6">
      <div class="flex flex-wrap items-center justify-between gap-6 py-6 md:gap-0 md:py-4">
        <div class="flex w-full justify-between lg:w-auto">
          <a href="#" aria-label="logo">
            <img src="images/logo.svg" class="w-36" alt="tailus logo" width="144" height="48" />
          </a>

          <button aria-label="humburger" id="hamburger" class="relative -mr-2 h-10 w-10 lg:hidden">
            <div
              aria-hidden="true"
              id="line"
              class="transtion inset-0 m-auto h-0.5 w-6 rounded bg-white duration-300"
            ></div>
            <div
              aria-hidden="true"
              id="line2"
              class="transtion inset-0 m-auto mt-2 h-0.5 w-6 rounded bg-white duration-300"
            ></div>
          </button>
        </div>

        <div
          hidden
          class="w-full bg-white md:flex-nowrap md:space-y-0 md:bg-transparent md:p-0 lg:flex lg:w-auto"
        >
          <div class="block w-full lg:flex lg:items-center">
            <ul
              class="space-y-6 pb-6 font-medium tracking-wide text-gray-100 lg:flex lg:items-center lg:space-y-0 lg:pb-0 lg:pr-6"
            >
              <li>
                <a href="#" class="block md:px-3">
                  <span>Product</span>
                </a>
              </li>
              <li>
                <a href="#" class="block md:px-3">
                  <span>Use Cases</span>
                </a>
              </li>
              <li>
                <a href="#" class="block md:px-3">
                  <span>Integrations</span>
                </a>
              </li>
              <li>
                <a href="#" class="block md:px-3">
                  <span>Pricing</span>
                </a>
              </li>
              <li>
                <a href="#" class="block md:px-3">
                  <span>Blog</span>
                </a>
              </li>
            </ul>

            <ul
              class="space-y-2 border-t pt-2 lg:flex lg:items-center lg:space-y-0 lg:space-x-2 lg:border-t-0 lg:border-l lg:pt-0 lg:pl-2"
            >
              <li>
                <button
                  type="button"
                  title="Start buying"
                  class="w-full rounded-md border border-transparent py-3 px-6 text-center transition active:border-purple-400 sm:w-max"
                >
                  <span class="block font-semibold text-white"> Login </span>
                </button>
              </li>

              <li>
                <button
                  type="button"
                  title="Start buying"
                  class="w-full rounded-lg bg-white py-3 px-6 text-center transition focus:bg-purple-100 active:bg-purple-200 sm:w-max"
                >
                  <span class="block text-sm font-semibold text-purple-600"> Sign In </span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<div class="relative">
  <img
    class="absolute inset-0 h-full w-full object-cover object-top"
    src="images/background2.webp"
    alt=""
  />
  <div
    aria-hidden="true"
    class="absolute inset-0 h-full w-full bg-purple-900 bg-opacity-30 backdrop-blur-sm"
  ></div>
  <div class="container relative m-auto px-6 md:px-12 lg:px-6">
    <div class="mb-12 space-y-16 pt-40 md:mb-20 md:pt-56 lg:mx-auto lg:w-8/12">
      <h1 class="text-center text-3xl font-bold text-white sm:text-4xl md:text-5xl">
        Don't look again for your next freelance projects, you got them.
      </h1>

      <form action="" class="w-full">
        <div class="relative flex rounded-xl bg-white p-1 shadow-2xl md:p-2">
          <select
            class="hidden rounded-xl bg-transparent p-3 md:block md:p-4"
            name="domain"
            id="domain"
          >
            <option value="design">Design</option>
            <option value="development">Development</option>
            <option value="marketing">Marketing</option>
          </select>
          <input placeholder="Your favorite position" class="w-full p-4" type="text" />
          <button
            type="button"
            title="Start buying"
            class="ml-auto rounded-lg bg-gradient-to-br from-pink-500 to-purple-500 py-3 px-6 text-center transition hover:to-purple-600 focus:from-pink-600 active:from-pink-700 md:px-12"
          >
            <span class="hidden font-semibold text-white md:block"> Search </span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="mx-auto w-5 text-white md:hidden"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
              />
            </svg>
          </button>
        </div>
      </form>
    </div>

    <div class="pb-16">
      <div class="md:px-12">
        <span class="block text-center font-medium text-pink-50"
          >Trusted by your favorite giants</span
        >

        <div class="-mx-6 mt-8 overflow-x-auto px-6 md:overflow-x-hidden">
          <div
            class="flex w-max flex-wrap items-center justify-center gap-4 md:w-auto md:gap-6 lg:gap-8"
          >
            <div class="flex items-center">
              <img
                class="w-36 brightness-200 contrast-200 grayscale"
                src="images/clients/microsoft.png"
                alt="client logo"
                loading="lazy"
                width="584"
                height="122"
              />
            </div>
            <div class="flex items-center">
              <img
                class="w-28 brightness-200 contrast-200 grayscale"
                src="images/clients/grabyo.png"
                alt="client logo"
                loading="lazy"
                width="400"
                height="219"
              />
            </div>
            <div class="flex items-center">
              <img
                class="w-32 brightness-200 contrast-200 grayscale"
                src="images/clients/lifegroups.png"
                alt="client logo"
                loading="lazy"
                width="400"
                height="219"
              />
            </div>
            <div class="flex items-center">
              <img
                class="w-24 brightness-200 contrast-200 grayscale"
                src="images/clients/lilly.png"
                alt="client logo"
                loading="lazy"
                width="400"
                height="219"
              />
            </div>
            <div class="flex items-center">
              <img
                class="w-28 brightness-200 contrast-200 grayscale"
                src="images/clients/grabyo.png"
                alt="client logo"
                loading="lazy"
                width="400"
                height="219"
              />
            </div>
            <div class="flex items-center">
              <img
                class="w-32 brightness-200 contrast-200 grayscale"
                src="images/clients/lifegroups.png"
                alt="client logo"
                loading="lazy"
                width="400"
                height="219"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
