<div class="bg-gray-100 dark:bg-gray-800 py-16">
  <div class="container m-auto space-y-8 px-6 md:px-12 lg:px-56">
    <div class="m-auto text-center lg:w-7/12">
      <h2 class="text-2xl font-bold text-gray-700 md:text-4xl dark:text-white">
        Your favorite companies are our partners.
      </h2>
    </div>
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4">
      <div class="p-4">
        <img src="images/clients/airbnb.svg" class="" alt="" />
      </div>
      <div class="p-4">
        <img src="images/clients/client-8.png" class="w-32" alt="" />
      </div>
      <div class="p-4">
        <img src="images/clients/client-3.png" class="w-32" alt="" />
      </div>
      <div class="p-4">
        <img src="images/clients/client-1.png" class="w-32" alt="" />
      </div>
      <div class="p-4">
        <img src="images/clients/tailus.svg" class="w-32" alt="" />
      </div>
      <div class="p-4">
        <img src="images/clients/microsoft.svg" class="w-32" alt="" />
      </div>
      <div class="p-4">
        <img src="images/clients/coty.svg" class="w-20" alt="" />
      </div>
      <div class="p-4">
        <img src="images/clients/client-4.png" class="w-24" alt="" />
      </div>
    </div>
  </div>
</div>