<div class="py-16 bg-gray-50">
    <div class="container m-auto px-6 space-y-8 text-gray-500 md:px-12 lg:px-40">
        <div class="mb-8">
            <h6 class="text-lg² text-cyan-500 font-bold text-center">Trusted by +5 giants</h6>
        </div>
        <div class="overflow-x-auto scrollbar-transparent lg:overflow-hidden">
            <div class="-mx-6 px-6 flex space-x-6 lg:justify-between md:space-x-12">
                <img src="images/clients/airbnb.svg" loading="lazy" class="grayscale transition hover:grayscale-0" alt="logo">
                <img src="images/clients/tailus.svg" loading="lazy" class="w-36 grayscale transition hover:grayscale-0" alt="logo">
                <img src="images/clients/ge.svg" loading="lazy" class="grayscale transition hover:grayscale-0" alt="logo">
                <img src="images/clients/coty.svg" loading="lazy" class="grayscale transition hover:grayscale-0" alt="logo">
                <img src="images/clients/microsoft.svg" loading="lazy" class="grayscale transition hover:grayscale-0" alt="logo">
            </div>
        </div>
    </div>
</div>