<div class="bg-gray-50 dark:bg-gray-800 py-16">
  <div class="container m-auto space-y-8 px-6 text-gray-500 md:px-12 lg:px-40">
    <div class="mb-8">
      <h6 class="text-lg² text-center font-bold text-cyan-500">Trusted by +5 giants</h6>
    </div>
    <div class="scrollbar-transparent overflow-x-auto lg:overflow-hidden">
      <div class="-mx-6 flex space-x-6 px-6 md:space-x-12 lg:justify-between">
        <img
          src="images/clients/airbnb.svg"
          loading="lazy"
          class="grayscale transition hover:grayscale-0"
          alt="logo"
        />
        <img
          src="images/clients/tailus.svg"
          loading="lazy"
          class="w-36 grayscale transition hover:grayscale-0"
          alt="logo"
        />
        <img
          src="images/clients/ge.svg"
          loading="lazy"
          class="grayscale transition hover:grayscale-0"
          alt="logo"
        />
        <img
          src="images/clients/coty.svg"
          loading="lazy"
          class="grayscale transition hover:grayscale-0"
          alt="logo"
        />
        <img
          src="images/clients/microsoft.svg"
          loading="lazy"
          class="grayscale transition hover:grayscale-0"
          alt="logo"
        />
      </div>
    </div>
  </div>
</div>