@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Urbanist', sans-serif;
}

@layer components {
  .navbar-active .hamburger div:first-child {
    @apply translate-y-1.5 rotate-45;
  }
  .navbar-active .hamburger div:last-child {
    @apply -translate-y-1 -rotate-45;
  }
  .navbar-active div:first-child div:first-child div:last-child {
    @apply block lg:flex;
  }
}
