<div class="bg-gray-50 dark:bg-darker pt-12 lg:pt-0">
  <div class="xl:container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
    <div class="space-y-12 lg:flex items-center lg:space-y-0 lg:gap-12">
      <div class="md:text-center lg:text-left md:7/12 space-y-6 lg:w-2/5">
        <h2 class="text-4xl font-bold text-indigo-900 dark:text-white md:text-5xl">
         For passionate developers.
        </h2>
        <div class="space-y-4">
          <p class="mt-4 text-gray-600 dark:text-gray-300">
            Nobis minus voluptatibus pariatur dignissimos libero quaerat iure expedita at?
            Asperiores nemo possimus nesciunt dicta veniam aspernatur quam mollitia.
          </p>
        </div>
        <a
            href="#"
            class="relative flex h-12 w-full items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full before:bg-indigo-100 before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max md:mx-auto lg:mr-auto lg:ml-0"
          >
            <span
              class="relative text-base font-semibold text-indigo-600 dark:text-white"
              >Learn more</span
            >
        </a>
      </div>
      <div class="-mx-6 mt-12 lg:mt-0 lg:-mx-0 md:5/12 lg:w-3/5">
        <img src="" alt="image" loading="lazy" width="" height="" />
      </div>
    </div>
  </div>
</div>