<div class="bg-white py-20">
  <div class="container mx-auto px-6 text-center md:px-12">
    <div class="mb-16">
      <h2 class="mb-4 text-center text-2xl font-bold text-gray-900 md:text-4xl">
        Tailus blocks leadership
      </h2>
      <p class="text-gray-600 lg:mx-auto lg:w-8/12">
        Tailus prides itself not only on award-winning technology, but also on the talent of its
        people of some of the brightest minds and most experienced executives in business.
      </p>
    </div>
    <div class="grid gap-28 py-20 md:grid-cols-3 md:gap-12">
      <div class="group space-y-8 border-t-4">
        <div class="mx-auto -mt-16 h-32 w-32 rotate-45 overflow-hidden rounded-[2rem]">
          <img
            class="mx-auto h-full w-full -rotate-45 scale-125 object-cover transition duration-300 group-hover:scale-[1.4]"
            src="images/woman1.jpg"
            alt="woman"
            loading="lazy"
            width="640"
            height="805"
          />
        </div>
        <div class="space-y-4 text-center">
          <div>
            <h4 class="text-2xl">Hentoni Doe</h4>
            <span class="block text-sm text-gray-500">CEO-Founder</span>
          </div>
          <a href="#" class="mx-auto block w-max text-blue-600">View Bio</a>
        </div>
      </div>

      <div class="group space-y-8 border-t-4">
        <div class="mx-auto -mt-16 h-32 w-32 rotate-45 overflow-hidden rounded-[2rem]">
          <img
            class="mx-auto h-full w-full -rotate-45 scale-125 object-cover transition duration-300 group-hover:scale-[1.4]"
            src="images/woman.jpg"
            alt="woman"
            loading="lazy"
            width="1000"
            height="667"
          />
        </div>
        <div class="space-y-4 text-center">
          <div>
            <h4 class="text-2xl">Anabelle Doe</h4>
            <span class="block text-sm text-gray-500">Chief Operations Officer</span>
          </div>
          <a href="#" class="mx-auto block w-max text-blue-600">View Bio</a>
        </div>
      </div>

      <div class="group space-y-8 border-t-4">
        <div class="mx-auto -mt-16 h-32 w-32 rotate-45 overflow-hidden rounded-[2rem]">
          <img
            class="mx-auto h-full w-full -rotate-45 scale-125 object-cover transition duration-300 group-hover:scale-[1.4]"
            src="images/man.jpg"
            alt="man"
            loading="lazy"
            width="1000"
            height="667"
          />
        </div>
        <div class="space-y-4 text-center">
          <div>
            <h4 class="text-2xl">Jonathan Doe</h4>
            <span class="block text-sm text-gray-500">Chief Technical Officer</span>
          </div>
          <a href="#" class="mx-auto block w-max text-blue-600">View Bio</a>
        </div>
      </div>
    </div>
    <button
      type="button"
      title="Start buying"
      class="mx-auto w-max rounded-full border border-blue-200 py-3 px-6 text-center transition focus:bg-blue-100 active:bg-blue-200"
    >
      <span class="block text-sm font-semibold text-blue-600"> Load more... </span>
    </button>
  </div>
</div>
