<div class="py-16">
  <div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
    <div class="space-y-6 lg:flex lg:space-y-0 lg:items-center lg:gap-12">
      <div class="md:5/12 lg:w-6/12">
        <img src="" alt="image" loading="lazy" width="" height="" />
      </div>
      <div class="md:7/12 lg:w-6/12">
        <h2 class="text-3xl font-bold text-gray-900 dark:text-white md:text-4xl">
          Nuxt development is carried out by passionate developers
        </h2>
        <p class="mt-6 text-gray-600 dark:text-gray-300">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum omnis voluptatem
          accusantium nemo perspiciatis delectus atque autem! repellat expedita consequatur! Officiis id consequatur atque doloremque!
        </p>
        <p class="mt-4 text-gray-600 dark:text-gray-300">
          Nobis minus voluptatibus pariatur dignissimos libero quaerat iure expedita at?
          Asperiores nemo possimus nesciunt dicta veniam aspernatur quam mollitia.
        </p>
        <div class="mt-8 flex gap-4 items-center">
          <div class="w-16 h-16 flex gap-4 rounded-full bg-purple-100 dark:bg-purple-900/20">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-7 h-7 m-auto text-purple-500 dark:text-purple-400">
              <path fill-rule="evenodd" d="M4.848 2.771A49.144 49.144 0 0112 2.25c2.43 0 4.817.178 7.152.52 1.978.292 3.348 2.024 3.348 3.97v6.02c0 1.946-1.37 3.678-3.348 3.97a48.901 48.901 0 01-3.476.383.39.39 0 00-.297.17l-2.755 4.133a.75.75 0 01-1.248 0l-2.755-4.133a.39.39 0 00-.297-.17 48.9 48.9 0 01-3.476-.384c-1.978-.29-3.348-2.024-3.348-3.97V6.741c0-1.946 1.37-3.68 3.348-3.97zM6.75 8.25a.75.75 0 01.75-.75h9a.75.75 0 010 1.5h-9a.75.75 0 01-.75-.75zm.75 2.25a.75.75 0 000 1.5H12a.75.75 0 000-1.5H7.5z" clip-rule="evenodd" />
            </svg>        
          </div>
          <div class="w-5/6">
            <h4 class="font-semibold text-lg text-gray-700 dark:text-purple-300">Chat Anytime</h3>
            <p class="text-gray-500 dark:text-gray-400">Asperiores nemo possimus nesciunt aspernatur quam mollitia.</p>
          </div> 
        </div> 
      </div>
    </div>
  </div>
</div>