<div class="py-16 bg-gradient-to-br from-pink-500 to-purple-600 md:bg-gradient-to-r">
    <div class="container m-auto px-6 text-center md:px-12 lg:px-20">
        <h2 class="mb-8 text-4xl text-white font-bold md:text-4xl">Your money in your hands, but safe.</h2>
        <a href="#" title="Create account" class="w-max py-3 px-12 text-center rounded-xl transition bg-white shadow-md hover:bg-purple-100 active:bg-purple-200 focus:bg-purple-100">
            <span class="text-purple-600 font-semibold">
                Create my account now
            </span>
        </a>
    </div>
</div>