<div class="bg-gradient-to-br from-pink-500 to-purple-600 py-16 md:bg-gradient-to-r">
  <div class="container m-auto px-6 text-center md:px-12 lg:px-20">
    <h2 class="mb-8 text-4xl font-bold text-white md:text-4xl">
      Your money in your hands, but safe.
    </h2>
    <a
      href="#"
      title="Create account"
      class="w-max rounded-xl bg-white py-3 px-12 text-center shadow-md transition hover:bg-purple-100 focus:bg-purple-100 active:bg-purple-200"
    >
      <span class="font-semibold text-purple-600"> Create my account now </span>
    </a>
  </div>
</div>
