<div class="overflow-hidden bg-yellow-50 py-16">
  <div class="container m-auto space-y-8 px-6 md:px-12 lg:px-20">
    <div>
      <span
        class="mx-auto block w-max rounded-full bg-yellow-100 py-2 px-4 text-sm font-semibold text-yellow-700"
        >Main features</span
      >
      <h2 class="mt-4 text-center text-2xl font-bold text-yellow-900 md:text-4xl">
        A technology-first approach to payments <br class="lg:block" hidden />
        and finance
      </h2>
    </div>
    <div class="mt-16 grid gap-8 sm:grid-cols-2 md:-mx-8 lg:grid-cols-3">
      <div class="group relative">
        <div
          aria-hidden="true"
          class="absolute inset-0 rounded-xl bg-white shadow-2xl transition duration-300 group-hover:scale-105 group-hover:bg-yellow-900 lg:group-hover:scale-110"
        ></div>
        <div class="relative space-y-12 p-8 md:p-12 lg:p-8 xl:p-12">
          <div
            aria-hidden="true"
            class="flex h-10 w-10 items-center justify-center rounded-full bg-yellow-100"
          >
            <span class="font-bold text-yellow-700">1</span>
          </div>
          <div class="space-y-4">
            <h4 class="text-2xl font-medium text-gray-800 transition group-hover:text-white">
              First feature
            </h4>
            <p class="text-gray-600 group-hover:text-yellow-200">
              Quae accusantium, laudantium recusandae tenetur fugiat non cum doloribus aperiam
              voluptates nostrum.
            </p>
          </div>
          <img
            src="images/avatars/burger.png"
            class="w-16"
            width="512"
            height="512"
            alt="burger illustration"
          />
        </div>
      </div>
      <div class="group relative">
        <div
          aria-hidden="true"
          class="absolute inset-0 rounded-xl bg-white shadow-2xl transition duration-300 group-hover:scale-105 group-hover:bg-yellow-900 lg:group-hover:scale-110"
        ></div>
        <div class="relative space-y-12 p-8 md:p-12 lg:p-8 xl:p-12">
          <div
            aria-hidden="true"
            class="flex h-10 w-10 items-center justify-center rounded-full bg-yellow-100"
          >
            <span class="font-bold text-yellow-700">2</span>
          </div>
          <div class="space-y-4">
            <h4 class="text-2xl font-medium text-gray-800 transition group-hover:text-white">
              Second feature
            </h4>
            <p class="text-gray-600 group-hover:text-yellow-200">
              Quae accusantium, laudantium recusandae tenetur fugiat non cum doloribus aperiam
              voluptates nostrum.
            </p>
          </div>
          <img
            src="images/avatars/metal.png"
            class="w-16"
            width="512"
            height="512"
            alt="burger illustration"
          />
        </div>
      </div>
      <div class="group relative">
        <div
          aria-hidden="true"
          class="absolute inset-0 rounded-xl bg-white shadow-2xl transition duration-300 group-hover:scale-105 group-hover:bg-yellow-900 lg:group-hover:scale-110"
        ></div>
        <div class="relative space-y-12 p-8 md:p-12 lg:p-8 xl:p-12">
          <div
            aria-hidden="true"
            class="flex h-10 w-10 items-center justify-center rounded-full bg-yellow-100"
          >
            <span class="font-bold text-yellow-700">3</span>
          </div>
          <div class="space-y-4">
            <h4 class="text-2xl font-medium text-gray-800 transition group-hover:text-white">
              Third feature
            </h4>
            <p class="text-gray-600 group-hover:text-yellow-200">
              Quae accusantium, laudantium recusandae tenetur fugiat non cum doloribus aperiam
              voluptates nostrum.
            </p>
          </div>
          <img
            src="images/avatars/trowel.png"
            class="w-16"
            width="512"
            height="512"
            alt="burger illustration"
          />
        </div>
      </div>
      <div class="group relative lg:hidden">
        <div
          aria-hidden="true"
          class="absolute inset-0 rounded-xl bg-white shadow-2xl transition duration-300 group-hover:scale-105 group-hover:bg-yellow-900 lg:group-hover:scale-110"
        ></div>
        <div class="relative space-y-12 p-8 md:p-12 lg:p-8 xl:p-12">
          <div
            aria-hidden="true"
            class="flex h-10 w-10 items-center justify-center rounded-full bg-yellow-100"
          >
            <span class="font-bold text-yellow-700">4</span>
          </div>
          <div class="space-y-4">
            <h4 class="text-2xl font-medium text-gray-800 transition group-hover:text-white">
              Fourth feature
            </h4>
            <p class="text-gray-600 group-hover:text-yellow-200">
              Quae accusantium, laudantium recusandae tenetur fugiat non cum doloribus aperiam
              voluptates nostrum.
            </p>
          </div>
          <img
            src="images/avatars/package-delivery.png"
            class="w-16"
            width="512"
            height="512"
            alt="burger illustration"
          />
        </div>
      </div>
    </div>
  </div>
</div>
